<div class="listContainer d-flex flex-row">
  <div class="task-container">
    <h2>Project Overview</h2>

    <div
      cdkDropList
      #projectOverviewList="cdkDropList"
      [cdkDropListData]="taskService.projectOverview"
      [cdkDropListConnectedTo]="[
        tasksList,
        inProgressList,
        inReviewList,
        completedList
      ]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="task-box"
        *ngFor="let item of taskService.projectOverview; let idx = index"
        cdkDrag
      >
        {{ item }}
        <div class="actions">
          <mat-icon
            class="edit"
            (click)="editTask(item, 'projectOverview', idx)"
            >edit</mat-icon
          >
          <mat-icon
            class="edit"
            (click)="deleteTask(idx, taskService.projectOverview)"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="addItem('projectOverview')"
      class="add-btn"
    >
      Add
    </button>
  </div>

  <div class="task-container">
    <h2>Tasks</h2>

    <div
      cdkDropList
      #tasksList="cdkDropList"
      [cdkDropListData]="taskService.tasks"
      [cdkDropListConnectedTo]="[
        inProgressList,
        projectOverviewList,
        inReviewList,
        completedList
      ]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="task-box"
        *ngFor="let item of taskService.tasks; let idx = index"
        cdkDrag
      >
        {{ item }}
        <div class="actions">
          <mat-icon class="edit" (click)="editTask(item, 'tasks', idx)"
            >edit</mat-icon
          >
          <mat-icon class="edit" (click)="deleteTask(idx, taskService.tasks)"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="addItem('tasks')"
      class="add-btn"
    >
      Add
    </button>
  </div>
  <div class="task-container">
    <h2>In Progress</h2>

    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="taskService.inProgress"
      [cdkDropListConnectedTo]="[
        tasksList,
        projectOverviewList,
        inReviewList,
        completedList
      ]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="task-box"
        *ngFor="let item of taskService.inProgress; let idx = index"
        cdkDrag
      >
        {{ item }}
        <div class="actions">
          <mat-icon class="edit" (click)="editTask(item, 'inProgress', idx)"
            >edit</mat-icon
          >
          <mat-icon
            class="edit"
            (click)="deleteTask(idx, taskService.inProgress)"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="addItem('inProgress')"
      class="add-btn"
    >
      Add
    </button>
  </div>
  <div class="task-container">
    <h2>In Review</h2>

    <div
      cdkDropList
      #inReviewList="cdkDropList"
      [cdkDropListData]="taskService.inReview"
      [cdkDropListConnectedTo]="[
        inProgressList,
        projectOverviewList,
        tasksList,
        completedList
      ]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="task-box"
        *ngFor="let item of taskService.inReview; let idx = index"
        cdkDrag
      >
        {{ item }}
        <div class="actions">
          <mat-icon class="edit" (click)="editTask(item, 'inReview', idx)"
            >edit</mat-icon
          >
          <mat-icon class="edit" (click)="deleteTask(idx, taskService.inReview)"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="addItem('inReview')"
      class="add-btn"
    >
      Add
    </button>
  </div>
  <div class="task-container">
    <h2>Completed</h2>

    <div
      cdkDropList
      #completedList="cdkDropList"
      [cdkDropListData]="taskService.completed"
      [cdkDropListConnectedTo]="[
        inProgressList,
        projectOverviewList,
        tasksList,
        inReviewList
      ]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="task-box"
        *ngFor="let item of taskService.completed; let idx = index"
        cdkDrag
      >
        {{ item }}
        <div class="actions">
          <mat-icon class="edit" (click)="editTask(item, 'taskService', idx)"
            >edit</mat-icon
          >
          <mat-icon
            class="edit"
            (click)="deleteTask(idx, taskService.completed)"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="addItem('completed')"
      class="add-btn"
    >
      Add
    </button>
  </div>
</div>
